.avatar {
    width: 40px !important;
    height: 40px !important;
    margin-right: 20px !important;
    object-fit: cover !important;
    border-radius: 50%;
    border: solid 1px #333
}

.smile {
    width: 20px;
    margin-left: 10px;
    margin-top: 10px;
    height: 20px;
    position: relative;
    left: 10px;
    top: 4px;
}

.dropdown-toggle::after {
    display: none; /* Ẩn dấu mũi tên */
}

.dropdown-toggle:hover {
    opacity: 0.6;
    cursor: pointer;
}

