.wrapper {
  min-height: 100vh;
  max-width: 80vh;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.expert-card {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.expert-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.expert-card.selected {
  background-color: #76d7c4 !important;
  border-color: #1abc9c;
}

button {
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #ffcccc;
  transform: scale(1.1);
}

.icon {
  width: 32px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: rotate(360deg);
}