/* Container chính */
.background-container {
    max-width: 850px;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

/* Khung nền tổng */
.background-box {
    background-color: #fef9fb;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid #dee2e6;
}

/* Phần màu nền */
.color-picker-wrapper {
    max-width: 400px;
    margin-bottom: 1rem;
}

.color-preview {
    width: 100px;
    height: 50px;
    border: 1px solid #ccc;
}

/* Recent images */
.recent-image {
    width: 80px;
    height: 50px;
    margin-right: 10px;
    background-size: cover;
    cursor: pointer;
    border: 1px solid #ccc;
}

.recent-image.selected {
    border: 2px solid #000;
}

.custom-upload-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.browse-btn {
  display: inline-block !important;
  padding: 8px 16px !important;
  border: 1px solid #d6c1ba !important;
  border-radius: 5px !important;
  background-color: white !important;
  color: #333 !important;
  cursor: pointer !important;
  transition: background-color 0.2s ease !important;
  margin-right: 0 !important;
}

.browse-btn:hover {
  background-color: #f8f4f3;
}
.section-title {
    border-bottom: 2px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 16px;
  }
  