.profile-container {
    min-height: 100vh;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    background-color: #FEFBFF;
}

.profile-header {
    height: 150px;
    background-color: #E5CAC2;
}

.profile-content {
    max-width: 600px;
    margin: -60px auto 0;
    padding: 100px;
    flex: 1;
    padding-bottom: 50px;
}

.profile-image {
    width: 200px !important;
    height: 200px !important;
    border-radius: 50% !important;
    border: 6px solid #F2E7E0 !important;
    margin-top: -150px !important;
    object-fit: cover !important; /* Cắt ảnh để vừa khung tròn */
    aspect-ratio: 1 / 1; /* Duy trì tỷ lệ vuông */
}

.profile-name {
    font-weight: bold;
    font-size: 2.1rem;
    margin-top: 10px;
}

.profile-username {
    color: #7a7a7a;
    font-size: 1rem;
}

.profile-bio {
    color: #a0a0a0;
    font-size: 1.3srem;
    margin-top: 5px;
}

.profile-stats {
    max-width: 600px; /* Giới hạn chiều rộng tối đa */
    margin: 0 auto; /* Căn giữa cụm */
}
.profile-stats h3 {
    font-size: 5rem; /* Tăng kích thước số lên */
    font-weight: bold;
}

.divider {
    width: 1px;
    background-color: #CDACA0;
    height: 120px;
    margin: auto;
}

.btn-edit {
    background-color: #E5CAC2;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 
    inset 0px 8px 10px -5px rgba(0, 0, 0, 0.23),
    inset 0px 4px 6px -6px rgba(0, 0, 0, 0.2);  
    display: inline-block;
    width: auto; /* Không bị kéo dài */
    max-width: fit-content; /* Chỉ rộng theo nội dung */
    transition: all 0.2s ease-in-out; 
}

.btn-edit:hover {    
    background: #E5CAC2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng khi hover */
    transform: translateY(-2px); /* Nhấc nút lên một chút */
}
